<h1 class="text-center">Signed Endpoints</h1>
<div class="try text-center">
  <div>
    <a routerLink="/account">Account</a>
  </div>

  <div>
    <a routerLink="/allorders">All Orders</a>
  </div>

  <div>
    <a routerLink="/ratelimit/order">Rate Limit Order</a>
  </div>
</div>
<!--<app-ticker-price></app-ticker-price>
<app-depth></app-depth>
<app-ping></app-ping>-->



<!--<app-ticker-price></app-ticker-price>
<app-depth></app-depth>
<app-ping></app-ping>-->

<router-outlet></router-outlet>
